.btnFixed {
    opacity: 0;
    display: none;
    gap: 16px;
    background: #EC008C;
    max-width: 295px;
    position: fixed;
    z-index: 9;
    max-width: 290px;
    margin: 0;
    width: 100%;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    transition: all 1s linear;

    @media (min-width:769px) {
        bottom: 30px;
        left: 30px;
        transform: translateX(0%);
    }

    .textBtn {
        color: #FFF;
        font-family: 'Helvetica Neue', sans-serif;
        font-size: 15px;
        font-style: normal;
        font-weight: 700;
        line-height: 100%;
        letter-spacing: 0.15px;
    }
}

@media(minwidth:769px) {
    .btnFixed:hover {
        transform: scale(1.1);
    }
}

.visible {
    opacity: 1;
    display: flex;
}


.logosPortobello {
    gap: 24px;
    margin-bottom: 55px;
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translateX(-50%);

    @media (min-width:769px) {
        transform: translate(0px, 20px);
        margin: inherit;
        padding: 10px 40px;
        z-index: 100;
        -webkit-transition: all .5s;
        -moz-transition: all .5s;
        transition: all .5s;
        position: fixed;
        right: 12%;
        top: 20px;
        left: initial;

    }
}

.hide-bottom {
    background: #4343AB;
    top: -20px;

}

.hide {
    opacity: 0;
}