.section08 {
    background: #4343ab;
    padding: 120px 0;

    @media(max-width:768px) {
        padding: 91px 0 0;
    }

    // display grid

    .parent-2 {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 0px;
        align-items: center;
        justify-items: center;
        max-width: 1280px;

        @media (min-width: 1441px) {
            max-width: 1440px;
        }

        .div1 {
            grid-area: 1 / 2 / 3 / 4;
        }

        .div2 {
            grid-area: 1 / 1 / 2 / 2;
        }

        .div3 {
            grid-area: 1 / 4 / 2 / 5;
            justify-self: start;
        }

        .div4 {
            grid-area: 2 / 1 / 3 / 2;
        }

        .div5 {
            grid-area: 2 / 4 / 3 / 5;
            justify-self: start;
        }

    }

    @media(max-width:768px) {
        .parent-2 {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(3, 1fr);
            grid-column-gap: 0px;
            grid-row-gap: 0px;
            margin: 0 31px;
            position: relative;

            .div1 {
                grid-area: 1 / 1 / 3 / 3;
            }

            .div2 {
                grid-area: 1 / 2 / 2 / 3;
            }

            .div3 {
                grid-area: 2 / 1 / 3 / 2;
            }

            .div4 {
                grid-area: 3 / 1 / 4 / 3;
            }
        }
    }



    .logoPb {
        transform: translateX(110px);
        width: calc(100% + 50px);

        @media(max-width:768px) {
            width: 210px;
            height: 102px;
            position: absolute;
            top: -30px;
            left: -57px;
            transform: initial;
        }
    }

    .pbSection08 {
        width: 100%;
        object-fit: contain;
        transform-style: preserve-3d;
        position: relative;

        @media(max-width:768px) {
            margin-bottom: 25px;

        }
    }

    .infosS08 {
        margin-left: 50px;
        position: relative;
        z-index: 1;

        @media(max-width:768px) {
            margin-left: 30px;

        }

        .date {
            color: #FFF;
            font-family: 'Helvetica Neue', sans-serif;
            font-size: 44px;
            font-style: normal;
            font-weight: 700;
            line-height: 100%;
            letter-spacing: 0.36px;
        }

        .local {
            color: #FFF;
            font-family: 'Helvetica Neue', sans-serif;
            font-size: 14px;
            font-style: normal;
            font-weight: 700;
            line-height: 100%;
            letter-spacing: 1.54px;
            text-transform: uppercase;
            max-width: 100px;
        }
    }

    .btn {
        gap: 16px;
        background: #EC008C;
        max-width: 291px;
        transform: translateX(150px);
        width: calc(100% + 70px);
        transition: all .2s ease-in-out;

        @media(max-width:768px) {
            transform: initial;
        }

        .textBtn {
            color: #FFF;
            font-family: 'Helvetica Neue', sans-serif;
            font-size: 15px;
            font-style: normal;
            font-weight: 700;
            line-height: 100%;
            letter-spacing: 0.15px;
        }

    }

    @media (min-width:769px) {
        .btn:hover {
            transform: translateX(150px) scale(1.1);
        }
    }

    .logoS8 {
        margin-left: 50px;
        position: relative;
        z-index: 1;

        @media(max-width:768px) {
            display: none;
        }
    }

    .desktop08 {
        display: none;

        @media (min-width:769px) {
            display: block;
        }
    }

    .mobile08 {
        @media (min-width:769px) {
            display: none;
        }
    }
}