.section05 {
    background-color: #4343AB;


    .titleSection04 {
        color: #FFF;
        font-family: 'Helvetica Neue', sans-serif;
        font-size: 24px;
        font-style: normal;
        font-weight: 700;
        line-height: 140%;
        letter-spacing: 2.64px;
        text-transform: uppercase;
        text-align: center;
        padding-top: 48px;
        padding-bottom: 29px;

        @media (min-width:769px) {
            max-width: 1280px;
            margin: 0 auto;
            font-size: 44px;
            padding: 105px 0 80px 100px;
            text-align: start;
        }

        @media (min-width: 1441px) {
            max-width: 1440px;
        }
    }

    .grid {
        max-width: 1280px;
        margin: 0 auto;
        padding: 240px 40px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 2fr 2fr 2fr;
        gap: 24px 24px;
        grid-auto-flow: row;
        grid-template-areas:
            ". . . ."
            ". . . ."
            ". . . ."
            ". . . .";

        @media (min-width: 769px) {
            padding: 0 0 80px;
        }

        @media (min-width: 1441px) {
            max-width: 1440px;
        }

        .item {
            position: relative;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                transition: all 750ms;
            }

            .name {
                position: absolute;
                bottom: 20px;
                right: 20px;
                font-family: 'Helvetica Neue', sans-serif;
                font-style: normal;
                font-weight: 700;
                line-height: 120%;
                letter-spacing: 0.15em;
                color: #F4F4F4;
                transition: all 750ms;
                font-size: 14px;
                width: 100%;
                max-width: 130px;
                text-align: end;

                @media (min-width:769px) {
                    font-size: 24px;
                    max-width: 200px;
                }
            }

            p {
                opacity: 0;
                position: absolute;
                top: 100px;
                left: 20px;
                right: 20px;
                font-family: 'Helvetica Neue', sans-serif;
                font-style: normal;
                font-weight: 500;
                font-size: 16px;
                line-height: 130%;
                color: #F4F4F4;
                letter-spacing: 0.01em;
                transition: all 750ms;
            }

            img.icon {
                opacity: 0;
                position: absolute;
                top: 40px;
                left: 20px;
                width: 40px;
                height: 40px;
                transition: all 750ms;
            }

            @media only screen and (min-width: 768px) {

                &:hover img {
                    opacity: 0.05;
                }

                &:hover p {
                    opacity: 1;
                }

                &:hover img.icon {
                    opacity: 1;
                }
            }
        }

        @media only screen and (max-width: 768px) {
            padding: 0px;
            background-color: #4343AB;
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 2fr 2fr 2fr 2fr 2fr;
            gap: 1px 1px;
            grid-auto-flow: row;
            margin-bottom: 60px;

            grid-template-areas: initial;

            .item.-none {
                display: none;
            }
        }
    }


    .modal {
        display: none;

        @media only screen and (max-width: 768px) {
            display: none;
            position: fixed;
            z-index: 1;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            overflow: auto;
            background-color: rgba(0, 0, 0, 0.5);

            .modal-content {

                background-color: #fefefe;
                margin: 20% auto;
                padding: 48px 20px;
                border: 1px solid #888;
                width: 375px;
                height: 367px;
                max-width: 600px;
                position: relative;

                img {
                    padding-bottom: 32px;
                }

                .close {

                    position: absolute;
                    bottom: 5%;
                    transform: translateX(-50%);
                    left: 50%;
                    color: #4343AB;
                    font-size: 42px;
                    float: right;
                    font-weight: bold;
                    cursor: pointer;

                    .close:hover,
                    .close:focus {
                        color: black;
                        text-decoration: none;
                        cursor: pointer;
                    }

                    .modal-body {
                        img {
                            padding-bottom: 32px;
                        }

                        p {
                            color: #4343AB;
                            font-family: 'Helvetica Neue', sans-serif;
                            font-size: 14px;
                            font-style: normal;
                            font-weight: 500;
                            line-height: 130%;
                            /* 18.2px */
                            letter-spacing: 0.14px;
                        }
                    }
                }
            }
        }



    }

    .coming {
        color: #fff;
        text-align: center;
        font-family: 'Helvetica Neue', sans-serif;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 130%;
        text-transform: uppercase;
        letter-spacing: 16px;
        background: rgba(255, 255, 255, 0.05);
        margin: 0 auto;
        display: flex;
        padding: 25px 55px;
        width: fit-content;

        @media(min-width: 769px) {
            padding: 25px 105px;
            margin: 0 auto 120px;
        }
    }

    .realization {
        color: #FFF;
        font-family: 'Helvetica Neue', sans-serif;
        font-size: 12px;
        font-style: normal;
        font-weight: 700;
        line-height: 140%;
        letter-spacing: 1.8px;
        text-transform: uppercase;
        display: flex;
        justify-content: center;
        padding-top: 81px;
        padding-bottom: 52px;

        @media (min-width: 769px) {
            padding-top: 0;
            font-size: 16px;
        }

    }

    .boxs {
        background-color: #fff;

        @media (min-width:769px) {
            flex-direction: row;
            max-width: 1280px;
            justify-content: center;
            margin: 0 auto;
            z-index: 1;
            position: relative;
            margin-bottom: -200px;
        }

        @media (min-width: 1441px) {
            max-width: 1440px;
        }

        .realizer {
            display: flex;
            flex-direction: column;
            gap: 32px;
            padding: 40px 16px;

            @media (min-width: 769px) {
                flex: 1;
                padding: 72px 56px 56px;
                gap: 156px
            }

            .realizersDescription {
                color: #4343AB;
                font-family: 'Helvetica Neue', sans-serif;
                font-size: 14px;
                font-style: normal;
                font-weight: 500;
                line-height: 130%;
                letter-spacing: 0.28px;

                @media (min-width: 769px) {
                    font-size: 19px;
                }
            }
        }

        .realizers-01 {
            position: relative;

            &::after {
                content: "";
                display: block;
                height: 2px;
                background: #E0E0E0;
                width: 100vw;
                position: absolute;
                bottom: 0;
                left: 0;
                max-width: 1440px;

                @media (min-width: 769px) {
                    display: none;

                }
            }
        }

        .realizers-02 {

            img {
                max-width: 214px;
            }

            &::before {
                display: none;

                @media (min-width:769px) {

                    content: "";
                    display: inline-block;
                    width: 2px;
                    background: #E0E0E0;
                    height: 100%;
                    margin-left: 0px;
                    position: absolute;
                    left: 50%;
                    top: 0;
                }
            }

        }
    }
}