.section04 {
    margin: 20px auto 80px;
    @media (min-width: 768px) {
        display: flex;
        max-width: 1280px;
        justify-content: flex-start;
        gap: 200px;
        margin: 160px auto;
        padding: 0 100px;

    }

    @media (min-width: 1441px) {
        max-width: 1440px;
    }

    .title {
        display: flex;
        flex-direction: column;

        @media (min-width: 768px) {
            gap: 8px;
            max-width: 141px;
        }

        .titleIdentity {
            color: #4343AB;
            font-family: 'Helvetica Neue', sans-serif;
            font-size: 18px;
            font-style: normal;
            font-weight: 700;
            line-height: 135%;
            letter-spacing: 2.7px;
            display: flex;
            margin-right: auto;
            padding: 72px 0 0 42px;
            max-width: 270px;

            @media (min-width: 768px) {
                padding: 0;
                font-size: 22px;
            }

        }

        .subtitleIdentity {
            color: #4343AB;
            font-family: 'Helvetica Neue', sans-serif;
            font-size: 18px;
            font-style: normal;
            font-weight: 400;
            line-height: 135%;
            letter-spacing: 2.7px;
            display: flex;
            margin-left: auto;
            padding: 0 42px 40px;
            max-width: 278px;

            @media (min-width: 768px) {
                padding: 0;
                font-size: 22px;

            }
        }
    }

    .description {
        padding: 0 16px;

        display: flex;
        flex-direction: column;
        gap: 24px;

        @media (min-width: 768px) {}

        .descriptionIdentity {
            color: #4343AB;
            font-family: 'Helvetica Neue', sans-serif;
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
            line-height: 130%;
            letter-spacing: 0.16px;

            @media (min-width: 768px) {
                font-size: 1.6vw;
                line-height: 130%;
            }
        }
    }
}