/* Main Color */
$blue-600: #007ACD;

/* Neutral Colors */
$grey-0: #FFFFFF;
$grey-100: #F6F8F9;
$grey-200: #EBEEF1;
$grey-300: #CCD4DA;
$grey-400: #9EADB8;
$grey-500: #778C9B;
$grey-600: #60798B;
$grey-700: #435C6E;
$grey-800: #334551;
$grey-900: #232D35;
$grey-1000: #171D21;

/* Additional Colors */
$ultramarine-900: #182663;
$teal-600: #008480;
$purple-700: #744299;
$yellow-300: #FFCC59;
$pink-600: #E01B78;
$lime-300: #C7DE43;

/* Functional Colors */
$danger: #DB3735;
$warning: #FF8C47;
$success: #008836;

/* Dataviz Colors */
$blue-300: #C0D4F9;
$blue-700: #005AA0;

$orange-300: #FFC89D;
$orange-600: #BC5921;

$yellow-300: #FFEEB4;
$yellow-600: #947023;

$green-300: #AEDFB3;
$green-700: #006725;

$red-300: #FFC5B9;
$red-700: #AA2424;

$pink-300: #FFC1DF;
$pink-700: #963563;

$ultramarine-300: #CCD1E9;
$ultramarine-700: #44549B;

$purple-300: #DECCEC;
$purple-800: #533669;

$teal-300: #95DFDD;
$teal-700: #0A6361;

$lime-200: #EEF5A8;
$lime-600: #6C7D02;

/* GBU Colors */
$energy-solutions: #E18554;
$network: #278CBC;
$thermal-supply: #4BB0B9;
$renewable: #67AE6E;